.allElements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoPart {
    display: flex;
    width: 700px;
}

.ulTodoPartie {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.liElementDateChekDelet {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttonDelete {
    width: 70px;
    height: 22px;
}